body{
	background: #000;
}
.m-nav{ margin: 0; height: 52px; text-align: center; overflow: hidden; background: #000;}
.m-nav li{ display: inline-block;width: 127px;}
.m-nav li a{ display: block; height: 52px; padding: 0 11px 0 8px; line-height: 52px; color: #fff; text-align: left; font-size: 14px; text-decoration: none;}
.m-nav li a .icon{ display: inline-block; margin-right: 13px; width: 32px; height: 32px; vertical-align: middle;}

.icon-search{ display: inline-block; width: 20px; height: 21px; background-position: -68px -68px;}
.icon-search2{ display: inline-block; width: 20px; height: 21px; background-position: -102px 0;}
.icon-open-screen{ background-position: 0 0;}
.icon-close-screen{ background-position: -34px 0;}
.icon-restart-equip{ background-position: 0 -34px;}
.icon-save-scene{ background-position: -34px -34px;}
.icon-scene-carousel{ background-position: 0 -68px;}
.icon-signal-carousel{ background-position: -68px 0;}
.icon-program-manage{ background-position: -68px -34px;}
.icon-system-manage{ background-position: -34px -68px;}


/* images/style.png?20151029153153 */
.icon-search,
.icon-search2,
.icon-open-screen,
.icon-close-screen,
.icon-restart-equip,
.icon-save-scene,
.icon-scene-carousel,
.icon-signal-carousel,
.icon-program-manage,
.icon-system-manage{
background-image: url(images/style.png?20151029153153);
}

.css_stamp{ content:"20151029153153";}